body {
  padding: 20px;
  background-color:#ffffc9
}

p { margin : 0; }

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}